<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="input.do">
					input
				</prop>
				
				<prop key="output.do">
					output
				</prop>
				
				<prop key="inputProc.do">
					inputProc
				</prop>
				
				<prop key="index.do">
					index
				</prop>
				
				<prop key="delete.do">
					delete
				</prop>
				
				<prop key="update.do">
					update
				</prop>
				
				<prop key="deleteProc.do">
					deleteProc
				</prop>
				
				<prop key="updateProc.do">
					updateProc
				</prop>
			</props>
		</property>
	</bean>
	
	<bean id="input" class="kh.spring.controller.InputController">
	</bean>
	<bean id="output" class="kh.spring.controller.OutputController">
	</bean>
	<bean id="inputProc" class="kh.spring.controller.InputProcController">
	</bean>
	<bean id="index" class="kh.spring.controller.IndexController">
	</bean>
	<bean id="delete" class="kh.spring.controller.DeleteController">
	</bean>
	<bean id="update" class="kh.spring.controller.ModifyController">
	</bean>
	<bean id="deleteProc" class="kh.spring.controller.DeleteProcController">
	</bean>
	<bean id="updateProc" class="kh.spring.controller.ModifyProcController">
	</bean>
	
	<context:component-scan base-package="kh.spring"></context:component-scan>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="kh"/>
		<property name="password" value="kh"/>
	</bean>
	
	<bean id="JdbcTemplete" class="org.springframework.jdbc.core.JdbcTemplate">
	 		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
</beans>
